<ion-header>
  <ion-toolbar>
    <ion-title>{{chap.title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="https://picsum.photos/300" />
  <br />
  <h1>Now It Ends</h1>
  <p class="storyContent">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi metus est,
    aliquam id ornare eu, molestie et nunc. Vestibulum non eleifend sapien, sit
    amet accumsan nisl. In egestas nunc at justo eleifend, ac scelerisque ex
    viverra. Maecenas eget sapien a ante eleifend tristique id a tellus. Aenean
    ultrices dapibus magna, sit amet elementum dolor scelerisque vel. Maecenas
    iaculis urna nec arcu sollicitudin, eu blandit nunc ullamcorper. Nam
    venenatis magna vel faucibus faucibus. Etiam eu magna vitae ex pretium
    rutrum quis a velit. Donec eget leo malesuada, consequat augue eu, gravida
    tortor. Curabitur congue vestibulum tristique.
  </p>
  <p class="storyContent">
    In finibus lectus turpis, eu scelerisque dui blandit quis. Cras consequat
    sem metus. Morbi enim risus, vestibulum ut ligula eu, condimentum ultrices
    justo. In hac habitasse platea dictumst. Nam porta, dui ut efficitur
    imperdiet, nunc quam tristique erat, non consequat mi enim id justo. Duis
    vulputate arcu semper purus commodo, consectetur pulvinar massa dapibus.
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam quis urna
    faucibus, vestibulum nisi vitae, placerat sem. Vestibulum at enim elementum,
    ultrices eros vitae, elementum mi. Pellentesque eleifend ligula ac urna
    iaculis sagittis. Pellentesque in tincidunt velit.
  </p>
  <p class="storyContent">
    Donec ex neque, rhoncus nec volutpat id, laoreet et eros. Curabitur risus
    ante, molestie ut nisl in, sagittis scelerisque mauris. Nullam dapibus arcu
    odio, in volutpat lorem gravida maximus. Curabitur sed fringilla massa, quis
    viverra turpis. Praesent accumsan ligula nisl. Nulla nisl magna, laoreet sed
    est non, tempus sodales eros. Fusce blandit ultricies pharetra. Ut
    scelerisque ullamcorper metus. Nunc eget orci non neque placerat
    scelerisque.
  </p>
  <p class="storyContent">
    Morbi pharetra lorem at lacus tristique placerat. Nullam tincidunt turpis
    vel odio commodo, eget rutrum mauris mollis. Cras quis nunc nec risus ornare
    congue. Donec feugiat in lectus a semper. Suspendisse fermentum, sapien ac
    cursus posuere, est felis consectetur mauris, sodales accumsan lacus velit
    in dui. Nullam viverra, felis sit amet vestibulum finibus, libero eros
    tincidunt velit, a rhoncus tellus risus eu mauris. Aenean consectetur nisi
    enim, nec fermentum velit dictum vel. Sed mattis eros a mi vehicula tempus.
    Aenean vulputate odio arcu, id dictum nunc dictum ut. Nam euismod facilisis
    arcu sed viverra. Curabitur mattis purus non odio imperdiet, eget maximus
    sapien dictum. Quisque eu eleifend ipsum, vitae sollicitudin dolor. Nam in
    quam posuere, pulvinar dui ac, faucibus purus. Nulla facilisi. Pellentesque
    at euismod quam. Aliquam fringilla eros et odio porta viverra.
  </p>
  <p class="storyContent">
    Curabitur a sem urna. Sed diam augue, facilisis at dolor id, interdum varius
    neque. Integer scelerisque ligula nec nibh aliquam sagittis. Vestibulum in
    leo erat. Vivamus diam urna, finibus et efficitur sed, feugiat sodales urna.
    Donec laoreet tempus velit, in finibus ex condimentum in. Donec maximus
    tortor ut mauris rutrum, in volutpat turpis interdum. Praesent tincidunt vel
    enim non blandit. Integer a lectus id augue lobortis commodo. Aliquam erat
    purus, pellentesque vitae auctor sed, mollis eget lacus. Ut lobortis sit
    amet turpis in mollis. Phasellus interdum ut risus quis interdum.
  </p>
  <p class="pageNum">Page: {{chap.id}}</p>
  <ion-button href="/toc" color="light" expand="block" shape="round">
    Start Over</ion-button
  >
  <ion-button href="/chapter2" color="light" expand="block" shape="round">
    Previous Chapter</ion-button
  >
  <br/>
  <ion-button href="/toc" color="warning" expand="block" shape="round">
    Take Me HOME!</ion-button
  >
</ion-content>
